:root {
    --turkey: #f4f4f4;
    --white: white;
    --blue: dodgerblue;
    --l-padding: 1rem;
    --l-nav-height: 3rem;
    --nav-color: var(--c-dark);
    --c-title-color: var(--c-dark);
    --c-dark: #252525;
    --c-gray: #e9e9e9;
    --c-primary: #444;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    /* display: grid; */
    height: 100vh;
    background-color: var(--turkey);
}

main {
    min-height: 90vh;
    /* max-width: 630px; */
    margin: 0 auto;
    padding: var(--l-padding);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

p,
pre,
code {
    line-height: 1.8;
}

a[href],
a[href]:visited {
    color: var(--nav-color);
}

header,
footer {
    padding: var(--l-padding);
}

footer {
    text-align: right;
}

main :first-child,
main>article :first-child {
    margin-top: 0;
}

pre {
    font-size: 14px;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 1em;
    margin: .5em 0;
}

ul {
    padding: 0;
    list-style: none;
}

header {
    display: grid;
    grid-template-rows: var(--l-nav-height) 1fr;
    text-align: center;
    height: 50vw;
}

header .heroimage {
    background: none;
    transition: opacity .5s ease;
    background-size: cover;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 50vw;
    z-index: 0;
}

html.click-happened header .heroimage {
    opacity: 0;
}

html.home header .heroimage {
    background: url('/static/img/judit-home-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.biografie header .heroimage {
    background: url('/static/img/judit-bio-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.konzerte header .heroimage {
    background: url('/static/img/judit-konzerte-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.kontakt header .heroimage {
    background: url('/static/img/judit-kontakt-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.korrepetition header .heroimage {
    background: url('/static/img/judit-korrepetition-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.diskografie header .heroimage {
    background: url('/static/img/judit-diskog-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.is-changing header .heroimage {
    opacity: 0;
}

header nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--nav-color);
    position: relative;
    z-index: 1;
}

header nav ul {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

header nav li {
    /* display: inline-block; */
    margin: 0 .5em;
    display: inline-block;
}

header nav li a {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 500;
}

header nav li a.active {
    font-weight: 700;
    pointer-events: none;
}

header nav li a[href]:not(:hover) {
    text-decoration: none;
}

/* header nav li:first-child a {
    font-weight: 700;
} */

header nav li a[data-current="current item"] {
    font-weight: 700;
    text-decoration: underline;
}

header nav li>div {
    margin-left: 1rem;
}

header .hero {
    display: grid;
    align-content: center;
    position: relative;
}

header .hero h1 {
    margin: 0;
    color: var(--c-title-color);
    margin-bottom: .5rem;
    margin-top: calc(var(--l-nav-height) * -1);
}

header .hero h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .1rem;
    margin: 0;
    color: var(--c-title-color);
}

.subnav {
    display: none;
}

/* Posts List */

article {
    max-width: 720px;
    margin: 0 auto;
}

main>section>article>* {
    margin-top: 0;
    margin-bottom: .5em;
}

main section {
    min-height: 20vw;
    padding: 5rem var(--l-padding);
}

main section h3 {
    text-align: center;
}

main section.discog {
    display: flex;
    flex-flow: column;
    width: 100%;
}

main section.discog .album-wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
}

.teaser-album {
    width: 160px;
    height: 160px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
}

/* Post Tags */

a[rel="tag"],
a[rel="tag"]:visited {
    display: inline-block;
    vertical-align: text-top;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .625em;
    padding: 0 .5em;
    line-height: 2em;
    height: 2em;
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--white);
    border-radius: .25em;
    text-decoration: none;
    margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

a[rel="tag"]:last-child {
    margin-right: 0;
}

/* Contact Form */

form {
    display: grid;
    padding: 2em 0;
}

form label {
    font-weight: 500;
    margin-bottom: .5rem;
}

input,
textarea,
button {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
    font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
    border: 1px solid black;
}

button {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

@media screen and (min-width:768px) {
    :root {
        font-size: 1.1rem;
        --l-padding: 2rem;
    }
    header nav ul {
        grid-template-columns: repeat(6, 1fr);
    }
}

.transition-fade {
    transition: transform 1s cubic-bezier(.77, 0, .175, 1), opacity .4s linear;
    opacity: 1;
    transform: none;
}

.transition-fly {
    transition: transform .75s cubic-bezier(.77, 0, .175, 1);
    opacity: 1;
    transform: none;
}

html.is-animating .transition-fade {
    transform: translateY(50%);
    opacity: 0;
}

html.is-animating.is-leaving .transition-fade {
    transform: translateY(-50%);
}

html.is-animating.is-leaving .transition-fly {
    transform: translateY(-150%);
}

/* html.is-rendering .transition-fly {
    transform: translateY(100%);
    opacity: 0;
} */