:root {
    --turkey: #f4f4f4;
    --white: white;
    --blue: dodgerblue;
    --l-padding: 1rem;
    --l-nav-height: 3rem;
    --nav-color: var(--c-dark);
    --c-title-color: var(--c-dark);
    --c-dark: #252525;
    --c-gray: #e9e9e9;
    --c-primary: #444;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    /* display: grid; */
    height: 100vh;
    background-color: var(--turkey);
}

main {
    min-height: 90vh;
    /* max-width: 630px; */
    margin: 0 auto;
    padding: var(--l-padding);
    padding-top: 5rem;
    padding-bottom: 7rem;
}

p,
pre,
code {
    line-height: 1.8;
}

a, a:link, a:visited, a:active {
    color: var(--c-dark);
}

.presse h3 {
    font-size: 2rem;
}

a[href],
a[href]:visited {
    /* color: var(--nav-color); */
}

header,
footer {
    padding: var(--l-padding);
}

footer {
    text-align: right;
}

main :first-child,
main>article :first-child {
    margin-top: 0;
}

pre {
    font-size: 14px;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 1em;
    margin: .5em 0;
}

ul {
    padding: 0;
    list-style: none;
}

header {
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    height: 65vw;
}

header .heroimage {
    background: none;
    transition: opacity .5s ease;
    background-size: cover;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 65vw;
    z-index: 0;
}

html.click-happened header .heroimage {
    opacity: 0;
}

html header .heroimage {
    background: url('/static/img/judit_polgar.jpg');
    background-size: cover;
    opacity: 1;
}

html.home header .heroimage {
    background: url('/static/img/judit_polgar.jpg');
    background-size: cover;
    opacity: 1;
}

html.biografie header .heroimage {
    background: url('/static/img/judit-bio-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.konzerte header .heroimage {
    background: url('/static/img/judit-konzerte-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.kontakt header .heroimage {
    background: url('/static/img/judit-kontakt-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.korrepetition header .heroimage {
    background: url('/static/img/judit-korrepetition-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.diskografie header .heroimage {
    background: url('/static/img/judit-diskog-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.presse header .heroimage {
    background: url('/static/img/judit-presse-header.jpg');
    background-size: cover;
    opacity: 1;
}

html.is-changing header .heroimage {
    opacity: 0;
}

header nav.horizontal-menu ul li  {
    display: inline;
}

header nav.horizontal-menu ul li .divider {
    color: rgba(255,255,255,.4);
    margin-right: .5rem;
    margin-left: .25rem;
}

header nav.horizontal-menu ul li a {
    color: rgba(255,255,255,.8);
    text-decoration: none;
    box-shadow: none;
    transition: box-shadow .2s, color .2s;
}

header nav.horizontal-menu ul li a:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0 2px white;
}

/* header nav {
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--nav-color);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    background-color: #ccc;
    display: flex;
    transform: translateX(100%);
    opacity: 0;
    transition: transform .3s cubic-bezier(.77, 0, .175, 1), opacity .4s linear;
}

.menu-open header nav {
    transform: none;
    opacity: 1;
} */

header .menu-btn {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
}

header .close-btn {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    text-decoration: none;
    line-height: 1;
}

.close-btn {
    display: none;
}

.menu-open .close-btn {
    display: block;
}


header .hero {
    /* display: flex; */
    width: 100%;
    height: 100%;
    position: relative;
}

header .hero h1 {
    margin: 0;
    margin-bottom: .5rem;
    color: white;
}
header .hero h1 a {
color: white;
text-decoration: none;
}

header .hero h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .1rem;
    margin: 0;
    color: var(--c-title-color);
}

.subnav {
    display: none;
}

/* Posts List */

article {
    max-width: 720px;
    margin: 0 auto;
}

article.album {
    margin-bottom: 3rem;
}

article.album h3 {
    margin-bottom: 0;
}

main>section>article>* {
    margin-top: 0;
    margin-bottom: .5em;
}

main section {
    min-height: 20vw;
    padding: 5rem var(--l-padding);
}

main section h3 {
    text-align: center;
    margin-bottom: 2rem;
}

main section.discog {
    display: flex;
    flex-flow: column;
    width: 100%;
}

main section.discog .album-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
}

blockquote {
    font-weight: 600;
    margin-left: 0;
}



blockquote em {
    font-weight: 300;
}

.presse blockquote {
    margin-bottom: 4rem;
    border-left: 1px solid rgba(0,0,0,.1);
    padding-left: 1rem;
}

.quote {
    margin-bottom: 3rem;
}

.quote blockquote {
    margin: 0;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 1rem;
}

.quote blockquote .big-quote {
    font-weight: 700;
    font-size: 1rem;
}

.quote .quote-author {
    text-align: center;
}

.gallery-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.gallery-images img.gallery-image {
    max-height: 500px;
    max-width: 100%;
}

.teaser-album {
    width: 160px;
    height: 160px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
}

/* Post Tags */

a[rel="tag"],
a[rel="tag"]:visited {
    display: inline-block;
    vertical-align: text-top;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .625em;
    padding: 0 .5em;
    line-height: 2em;
    height: 2em;
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--white);
    border-radius: .25em;
    text-decoration: none;
    margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
    border: 1px solid var(--c-dark);
    background-color: var(--c-dark);
    color: var(--white);
}

a[rel="tag"]:last-child {
    margin-right: 0;
}

/* Contact Form */

form {
    display: grid;
    padding: 2em 0;
}

form label {
    font-weight: 500;
    margin-bottom: .5rem;
}

input,
textarea,
button {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
}

input,
textarea {
    border: 1px solid black;
}

button {
    border: 1px solid var(--c-dark);
    background-color: var(--c-dark);
    color: var(--white);
    cursor: pointer;
}

.button--link {
    font-weight: 500;
    text-align: center;
    padding: 2rem 0;
    display: block;
}

@media screen and (min-width:768px) {
    :root {
        font-size: 1.1rem;
        --l-padding: 2rem;
    }

    main {
        padding-bottom: 3rem;
    }

    /* header nav {
        background-color: transparent;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }

    header nav ul {
        width: 20rem;
        background-color: var(--c-light, #ccc);
        color: white;
        padding: 2rem 0;
    } */

    main section.discog .album-wrapper {
        flex-flow: row nowrap;
    }

}

.transition-fade {
    transition: transform 1s cubic-bezier(.77, 0, .175, 1), opacity .4s linear;
    opacity: 1;
    transform: none;
}

.transition-fly {
    transition: transform .75s cubic-bezier(.77, 0, .175, 1);
    opacity: 1;
    transform: none;
}

html.is-animating .transition-fade {
    transform: translateY(50%);
    opacity: 0;
}

html.is-animating.is-leaving .transition-fade {
    transform: translateY(-50%);
}

html.is-animating.is-leaving .transition-fly {
    transform: translateY(-150%);
}

/* html.is-rendering .transition-fly {
    transform: translateY(100%);
    opacity: 0;
} */