
<section class="short-bio">


<article>
    <h3 class="u-centered">im Kurz</h3>
        {{ metadata.shortBio | safe }}
    

</article>
        <a href="/biografie" data-navtitle="biografie" class="button--link">siehe Biografie</a>
</section>