
<section class="short-bio">


<article>
    {# <h3 class="u-centered">{{ metadata.shortBio | safe }}</h3> #}
        
    

</article>
        <a href="/biografie" data-navtitle="biografie" class="button--link">Biografie</a>
</section>