<section class="discog">
<div class="album-wrapper">
    {% for album in collections.album|reverse %}
    <a href="/diskografie" data-navtitle="diskografie"><img class="teaser-album" src="/static/img/albums/{{album.data.image}}" alt="{{album.data.title}}"></a>
    {% endfor %}
</div>
</section>