<section class="discog">
    <h3>Aufnahmen</h3>
<div class="album-wrapper">
    {% for album in discog %}
    <img class="teaser-album" src="{{album.image}}" alt="{{album.title}}">
    {% endfor %}
</div>

<a href="/diskografie" data-navtitle="diskografie" class="button--link">Diskografie</a>
</section>