<section class="gallery">


<div class="gallery-images">
    {% for num in range(1, 6) %}
    
    <img class="gallery-image" src="/static/img/gallery/judit_polgar-0{{num}}.jpg" alt="" />
    {%endfor%}
</div>

</section>