<section class="gallery">
<h3>Bilder</h3>


<div class="gallery-images">
    {% for num in range(1, 6) %}
    
    <a href="/static/img/gallery/judit_polgar-0{{num}}.jpg"><img class="gallery-image" src="/static/img/gallery/judit_polgar-0{{num}}.jpg" alt="" /></a>
    {%endfor%}
</div>

</section>