<header>
<div class="heroimage"></div>
{% include "components/nav.njk" %}

<div class="hero transition-fade">
    <h1>{{title}}</h1>
    {% if title === 'Judit Polgar' %}<h2>Pianistin</h2>{% endif %}
</div>

</header>