{% include "components/nav.njk" %}
<header>
    <div class="heroimage"></div>

    <div class="hero">
        <h2><a href="/">Judit Polgar</a></h2>
        {% include "components/hormenu.njk" %}

    </div>
    <div class="fader"></div>
</header>