<section class="fotos">


<h3>Fotos</h3>
<div class="gallery-images">
    {% for num in range(1, 6) %}
    
    <img class="gallery-image" src="/static/img/gallery/new/judit_polgar-0{{num}}.jpg" alt="Judit Polgar" title="Judit Polgar, Pianistin" />
    {%endfor%}
</div>
<p>Fotos von <a href="http://www.mauricehaas.ch/" target="_blank">Maurice Haas</a></p>
</section>


<section class="videos">

<h3>Videos</h3>
<div class="video-gallery">
    {% set videolist = collections.videos %}
    {% for vid in videolist %}
    <div class="videoWrapper">
        <!-- Copy & Pasted from YouTube -->
        <iframe width="560" height="349" src="http://www.youtube.com/embed/{{vid.data.id}}?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
      </div>
    {%endfor%}
</div> 

</section>