<div class="holder">
  <div class="infobox">
    <p>Titel: <span class="title"></span></p>
    <p>KomponistIn: <span class="composer"></span></p>
    <p>SängerIn: <span class="singer"></span></p>
    <ul id="playlist" style="display: none; opacity: 0; height: 0;">
        {% for song in recordings %}
            <li data-mpeg="{{song.mp3}}" data-songtitle="{{song.title}}" data-songcomposer="{{song.composer}}" data-songsinger="{{song.singer}}">{{song.title}}</li>
        {% endfor %}
    </ul>
  </div>
  <div class="audio judit-audio-player">
    <div class="loading">
      <div class="spinner"></div>
    </div>
    <div class="play-pause-btn">  
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24">
        <path fill="var(--playerDark, black)" fill-rule="evenodd" d="M18 12L0 24V0" class="play-pause-icon" id="playPause"/>
      </svg>
    </div>
    <div class="next-btn">
        <svg fill="var(--playerDark, black)" viewBox="0 0 16 24"><polygon points="13.13 0 13.13 11.15 -0.04 0 -0.04 24 13.13 12.85 13.13 24 16.13 24 16.13 0 13.13 0"/></svg>
    </div>

    <div class="controls">
      <span class="current-time">0:00</span>
      <div class="slider" data-direction="horizontal">
        <div class="progress">
          <div class="pin" id="progress-pin" data-method="rewind"></div>
        </div>
      </div>
      <span class="total-time">0:00</span>
    </div>

    <div class="volume">
      <div class="volume-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="var(--playerDark, black)" fill-rule="evenodd" d="M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z" id="speaker"/>
        </svg>
      </div>
      <div class="volume-controls hidden">
        <div class="slider" data-direction="vertical">
          <div class="progress">
            <div class="pin" id="volume-pin" data-method="changeVolume"></div>
          </div>
        </div>
      </div>
    </div>

    <audio>
      <source src="/static/audio/cats.mp3" type="audio/mpeg">
    </audio>
    
  </div>

</div>