<section class="quotes">

<article>
    <h3 class="u-centered">Stimmen aus der Presse</h3>
     {% for quote in metadata.quotes %}
        <div class="quote">
        <blockquote>
        <span class="big-quote">"</span>
        {{quote.text}}
        <span class="big-quote">"</span>
        </blockquote>
        <div class="quote-author">
        <p>- {{quote.author}}</p>
        </div>
        </div>
    
        {% endfor %}
    
        
</article>
</section>