<article class="quotes">

 {% for quote in metadata.quotes %}
    <div class="quote">
    <blockquote>
    {{quote.text}}
    </blockquote>
    <p class="quote-author">{{quote.author}}</p>
    </div>

    {% endfor %}
</article>