<section class="quotes">

  <article>
    {# <h3 class="u-centered">Stimmen aus der Presse</h3> #}
    {% for quote in collections.quote %}
      <div class="quote">
        <blockquote>
          <span class="big-quote">"</span>
          <span>{{quote.data.title}}</span>
          <span class="big-quote">"</span>
        </blockquote>
        <div class="quote-author">
          <p>- {{quote.data.source}}</p>
        </div>
      </div>

    {% endfor %}

  </article>
</section>