<!doctype html>
<html {% if section %} data-current="home"{% endif %} lang="de" class="home">

	{% include "components/head.njk" %}

	<body>

		{% include "components/header.njk" %}

		<main id="swup" class="transition-fade">
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
		{% include "components/player.njk" %}
    <script src="{{ '/' | url }}static/js/player.js"></script>
    <script src="{{ '/' | url }}static/js/swup.min.js"></script>
    <script>
		const options = {
    	elements: ['#swup', '.hero']
		}
    const swup = new Swup(options); 
		let globalPath = '/';
		let $navItem;
		let currentClass;
		const navs = document.querySelectorAll('[data-navtitle]')
		let navtitles = []
		navs.forEach(function(nav) {
			navtitles.push(nav.dataset.navtitle)
		})

		swup.on('contentReplaced', function () {
			if (window.location.pathname === globalPath) {
				$navItem.classList.toggle('active')
			}
		});

		swup.on('clickLink', function (e) {
			document.documentElement.classList.add('click-happened')
			currentClass = e.target.dataset.navtitle
			document.documentElement.setAttribute('data-current', currentClass)
			$navItem = e.target;
			globalPath = e.target.attributes.href.nodeValue;
			[].forEach.call(navs, function(el) {
					el.classList.remove("active");
			});
		});

		swup.on('animationInStart', function (e) {
			document.documentElement.classList.remove('click-happened')
			navtitles.forEach(function(title) {
				document.documentElement.classList.remove(title)
			})
			document.documentElement.classList.add(currentClass)
		});
    </script>
	</body>

</html>
