<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="de">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a><br/>
        <span>{{ metadata.subtitle }}</span>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
