<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="de">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a><br/>
        <span>{{ metadata.subtitle }}</span>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main id="swup" class="transition-fade">
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
    <script src="{{ '/' | url }}static/js/swup.min.js"></script>
    <script>
    const swup = new Swup(); 
    </script>
	</body>

</html>
