---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
{% for album in collections.album | reverse %}
<article class="album">
<img class="teaser-album" src="/static/img/albums/{{album.data.image}}" alt="{{album.data.title}}">
<h3 class="album-title">{{album.data.title}}</h3>
<ul class="album-info">
    {% for performer in album.data.performers %}
        <li class="album-performer">{{performer}}</li>
    {% endfor%}
    <li class="">Release: {{album.data.release}}</li>
    <li class="">Label: {{album.data.label}}</li>
    <li class="">Regie: {{album.data.direction}}</li>
    <li class=""><a href="{{album.data.bestellung}}">Bestellung</a></li>
</ul>
</article>
{% endfor %}