---
layout: layouts/base.njk
section: home
---

{# {% include "components/bio.njk" %} #}
{% include "components/quotes.njk" %}
{% include "components/discog.njk" %}
{# {% include "components/gallery.njk" %} #}
