---
layout: layouts/base.njk
---
<h1 id="media">{{title}}</h1>

<div class="tabs-subnav">
    <a href="/fotos/#media" data-navtitle="media">Fotos</a> / Videos
</div>

<section class="videos">
    <div class="video-gallery">
        {% set videolist = collections.videos | reverse %}
        {% for vid in videolist %}
        <div class="fitVids-wrapper">
          <iframe src="https://www.youtube.com/embed/{{vid.data.id}}?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
        </div>
        {%endfor%}
    </div> 
    
    </section>